<ng-container>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Muhamad Bagus Sajiwo</mat-card-title>
      <mat-card-subtitle>Sistem Infomasi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>
        Aplikasi ini dibuat untuk mempermudah ketua kelas dalam mencatat data mahasiswa yang ada di dalam kelas 
        Aplikasi ini juga di buat mempermudah ketua kelas untuk mencatat jadwal perkuliahan
      </h1>
    </mat-card-content>
  </mat-card>
</ng-container>
  
